<h2>Products</h2>

<div *ngFor="let product of products">
  <img src="{{ product.image }}" class="product-img" />

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <p *ngIf="product.rating">
    Rating: {{ product.rating }}
    <img src="assets/star.png" class="star" />
  </p>

  <button *ngIf="product.url" type="button" (click)="share(product.url)">
    Share
  </button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
